@model IEnumerable<ConsumingWebApi.Dtos.ReviewerDto>
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Message</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div>
    <h2>List of Reviewers</h2>
    <br />

    @foreach (var item in Model)
    {
        <b>@item.FirstName @item.LastName</b>
        <a asp-controller="Reviewers" asp-action="GetReviewerById" asp-route-reviewerId="@item.Id"> | Details</a>
        <a asp-controller="Reviewers" asp-action="DeleteReviewer" asp-route-reviewerId="@item.Id"> | Delete</a>
        <br />
    }
</div>

